<nav id="sidebar">
  <ul>
    <li class="index">
      <%= link_to t('labels.list.all'), lists_path, class: 'icon-list-ul' %>
    </li>
    <li class="new">
      <%= link_to t('labels.list.new'), new_ajax_list_path, class: 'hidden-form icon-list-add' %>
    </li>
  </ul>
</nav>
