<ul class="tabs">
  <li class="experts-list">
    <%= link_to List.human_attribute_name(:experts), list_experts_path(list) %>
  </li>
  <li class="partners-list">
    <%= link_to List.human_attribute_name(:partners), list_partners_path(list) %>
  </li>
</ul>