body {
  margin: 0;
  padding: 0;
  font: normal normal normal 1em/1.6 Helvetica, Arial, sans-serif;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50%;
  float: none;
  background: #3a3a3a;
}

p, div {
  padding: 0;
  margin: 0;
}

#error {
  width: 260px;
  position: relative;
  margin: -180px auto 0 auto;
  padding-top: 45px;
  background: url('logo.svg') center top no-repeat;
  background-size: 100px;
}

#msg {
  position: relative;
  padding: 5px;
  text-align: center;
  border-radius: 4px;
  background: #9D2025;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.4);
}

#msg:after {
  content: ' ';
  position: absolute;
  top: -5px;
  left: 48%;
  border: solid transparent;
  width: 0;
  height: 0;
  margin-top: -6px;
  border-width: 8px;
  border-bottom-color: #9D2025;
}

#type {
  padding-top: 3px;
  color: #270808;
  font-size: 3.3em;
  line-height: 1em;
  font-weight: bolder;
  text-shadow: 2px 0 0 #270808, 2px 1px 0 rgba(200, 30, 30, .5);
  opacity: .6;
}

#descr {
  color: #270808;
  font-size: .7em;
  line-height: 1.1em;
  margin: 5px 0 0 0;
  text-shadow: 1px 1px 0 rgba(200, 30, 30, .4);
  opacity: .7;
}

#msg > a {
  position: relative;
  display: block;
  color: #a0a0a0;
  font-size: .7em;
  line-height: 1.2em;
  text-shadow: 1px 1px 0 #111;
  text-decoration: none;
  background: #2b2b2b;
  padding: 12px 10px;
  border-radius: 4px;
  margin: 14px 0 0 0;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
}

#msg > a:after {
  content: ' ';
  position: absolute;
  top: -5px;
  left: 48%;
  border: solid transparent;
  width: 0;
  height: 0;
  margin-top: -7px;
  border-width: 8px;
  border-bottom-color: #2b2b2b;
}

#error.ie {
  width: 275px;
  padding-top: 35px;
  background: url('logo.svg') center top no-repeat;
  background-size: 90px;
}

#error.ie #msg {
  height: 213px;
  width: 275px;
  padding-top: 75px;
  box-shadow: none;
  background: url('./error_ie.png') center top no-repeat;
}

#error.ie #msg:after {
  display: none;
}

#error.ie #descr {
  margin-top: 0;
}

#error.ie #links {
  margin-top: 31px;
  height: 65px;
}

#error.ie #links p {
  color: #a0a0a0;
  font-size: .7em;
  line-height: 1.2em;
  text-shadow: 1px 1px 0 #111;
  text-decoration: none;
}

#browsers {
  position: relative;
  width: 160px;
  height: 32px;
  margin: 12px auto 0 auto;
}

#browsers a {
  height: 32px;
  width: 29px;
  margin: 0 5px;
  display: block;
  float: left;
}

#browsers a#firefox {
  background: url('./browsers_sprite.png') 0 0 no-repeat;
}
#browsers a#firefox:hover {
  background: url('./browsers_sprite.png') 0 -37px no-repeat;
}

#browsers a#chrome {
  background: url('./browsers_sprite.png') -39px 0 no-repeat;
}
#browsers a#chrome:hover {
  background: url('./browsers_sprite.png') -39px -37px no-repeat;
}

#browsers a#opera {
  background: url('./browsers_sprite.png') -78px 0 no-repeat;
}
#browsers a#opera:hover {
  background: url('./browsers_sprite.png') -78px -37px no-repeat;
}

#browsers a#safari {
  background: url('./browsers_sprite.png') -115px 0 no-repeat;
}
#browsers a#safari:hover {
  background: url('./browsers_sprite.png') -115px -37px no-repeat;
}

#error.ie #descr a:after {
  display: none;
}
