<nav id="sidebar">
  <ul>
    <li class="index">
      <%= link_to t('label.all_users'), users_path, class: 'icon-list' %>
    </li>
    <li class="new">
      <%= link_to t('label.new_user'), new_user_path, class: 'icon-user-add' %>
    </li>
  </ul>
</nav>
