<nav id="sidebar">
  <ul>
    <li class="index">
      <%= link_to t('labels.user.all'), users_path, class: 'icon-list' %>
    </li>
    <li class="new">
      <%= link_to t('labels.user.new'), new_user_path, class: 'icon-user-add' %>
    </li>
  </ul>
</nav>
