<nav id="sidebar">
  <ul>
    <li class="index">
      <%= link_to t(:label_all_users), users_path %>
    </li>
    <li class="new">
      <%= link_to t(:label_new_user), new_user_path %>
    </li>
  </ul>
</nav>
