<div class="validation-errors">
  <table>
    <tbody>
      <% model.errors.each do |attr, msg| %>
        <% unless [:password_digest].include?(attr) %>
          <tr>
            <td>
              <%= model.class.human_attribute_name attr %>
            </td>
            <td>
              <%= msg %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
