<nav id="sidebar">
  <ul>
    <li class="index">
      <%= link_to t('labels.project.all'), projects_path, class: 'icon-list-ul' %>
    </li>
    <li class="new">
      <%= restricted_link_to t('labels.project.new'),
                             new_project_path(ProjectInfo.languages.first),
                             :projects, class: 'icon-project-add' %>
    </li>
  </ul>
</nav>
