<%= render 'sidebar' %>

<div id="main">
  <h2 class="icon-project">
    <%= @info.title %>
  </h2>

  <div>
    <%= project_info_selector(@info) %>
  </div>

  <div>
    <%= link_to t('actions.edit'), edit_project_path(@project, @info.language) %>
  </div>

  <div class="clear"></div>
</div>
