<%= render 'sidebar' %>

<div id="main">
  <%= render 'details_sidebar', info: @info %>

  <div class="tabbed-content">
    <%= render 'tabs', info: @info %>

    <div class="content">
      <div>
        <%= project_info_selector(@info) %>
      </div>
    </div>
  </div>
  <div class="clear"></div>
</div>
