<div class="overlay editable">
  <div class="header">
    <h2 class="title">
      <%= t 'actions.edit' %>
    </h2>
    <a class="button submit">
      <%= t 'actions.save' %>
    </a>
    <div class="button abort">
      <%= t 'actions.abort' %>
    </div>
  </div>
  <div class="form-wrapper">
    <form class="editor" method="put" data-remote="true">
      <input type="text"/>
    </form>
  </div>
</div>
