<nav id="sidebar">
  <ul>
    <li class="index">
      <%= link_to t('labels.expert.all'), experts_path, class: 'icon-list' %>
    </li>
    <li class="new">
      <%= restricted_link_to(t('labels.expert.new'), new_expert_path, :experts,
                             class: 'icon-expert-add') %>
    </li>
  </ul>
</nav>
