<nav id="sidebar">
  <ul>
    <li class="index">
      <%= link_to t(:label_all_experts), experts_path %>
    </li>
    <li class="new">
      <%= link_to t(:label_new_expert), new_expert_path %>
    </li>
  </ul>
</nav>