<nav id="sidebar">
  <ul>
    <li class="index">
      <%= link_to t('label.all_experts'), experts_path %>
    </li>
    <li class="new">
      <%= link_to t('label.new_expert'), new_expert_path %>
    </li>
  </ul>
</nav>