<nav id="sidebar">
  <ul>
    <li class="index">
      <%= link_to t('label.all_experts'), experts_path, class: 'icon-list' %>
    </li>
    <li class="new">
      <%= restricted_link_to(t('label.new_expert'), new_expert_path, :experts,
                             class: 'icon-expert-add') %>
    </li>
  </ul>
</nav>
